body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
html {
  min-width: 900px;
}
#app {
  display: none;
  padding: 0;
  margin: 0;
  min-width: 900px;
  position: relative;
}
.icon-bg {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
.icon-bg:hover {
  background-color: #d6d6d6;
}
#mainNav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  min-width: 900px;
  top: 10px;
  padding: 10px;
  z-index: 99;
}
#menu-btn {
  width: 50px;
}
#home-img {
  max-width: 500px;
}
#smoke {
  position: absolute;
  z-index: 9;
  mix-blend-mode: multiply;
}
.placeholder {
  height: 100px;
}
.content img:nth-child(3) {
  /* transform: translateX(30px); */
  margin-left: 15px;
}
.content img {
  transition: 0.5s;
}
.pointer {
  cursor: pointer;
}
.btn {
  font-size: x-large;
  transition: 0.5s;
  display: flex;
  align-items: center;
  /* max-width: 100px; */
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 30px;
}
.btn:hover {
  background-color: #d6d6d6;
}
#subNav {
  text-transform: uppercase;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  width: 300px;
  transition: 0.3s;
  z-index: 98;
  box-shadow: rgba(0, 0, 0, 0.253) 3px 3px 20px 3px;
}
#subNav .btn {
  margin: 0;
  border-radius: 0;
}
#subNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#subNav li {
  font-size: large;
  padding: 20px;
  display: block;
  display: flex;
  gap: 15px;
}
.icon {
  max-width: 60px;
}
.content {
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 20px;
  gap: 40px;
  z-index: 10;
  overflow: hidden;
}
.content p {
  max-width: 37vw;
}
.verticle {
  flex-direction: column;
  justify-content: space-around;
}
.isOpen {
  transform: translateX(0);
}
.isClose {
  transform: translateX(-300px);
}
#content-inspiration {
  background-image: url("image/inspiration.png");
}
#content-inspiration p {
  width: 26vw;
}
#content-goal {
  background-image: url("image/goal_1.png");
  background-size: contain;
}
#content-goal p {
  width: 26vw;
}
#content-research {
  background-image: url("image/research.png");
}
#content-research p {
  width: 26vw;
}
#cntPoster img:hover {
  transform: translateY(-30px);
}
#cntPoster p {
  width: 26vw;
}
#cntPoster h1 {
  font-size: 40pt;
}
.about-page {
  line-height: 35px;
}
.about-page h1 {
  font-size: 40pt;
}
.snake-img {
  width: 60vw;
}
.snake-img-deco {
  width: 1980px;
  transition: 0.5 ease;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.sname-change-btn {
  position: relative;
  z-index: 11;
  margin: 0;
  padding: 20px;
}
@keyframes opacityAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.snake-btn {
  display: inline-block;
  padding: 10px;
  border-radius: 50px;
  margin-right: 20px;
  transition: 0.5s;
}
.snake-btn:nth-child(1) {
  background-color: #BFB0FF;
}
.snake-btn:nth-child(2) {
  background-color: #5D0CEA;
}
.snake-btn:nth-child(3) {
  background-color: #3D109D;
}
.snake-btn:hover {
  transform: scale(1.5);
}
#desc-skin {
  background-image: url("clear image/skin123-14.png");
}
#desc-type {
  background-image: url("https://i.loli.net/2020/12/31/kSmBr5Pqb2vOieV.png");
  background-size: 90vw;
  background-position: 5vw 10vh ;
}
#desc-poster img {
  width: 63vw;
  transform: translateX(-10px);
}
#colorList {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 70vw;
  height: 100vh;
  margin-bottom: 50px;
}
#colorList ul {
  display: flex;
  justify-content: center;
}
#colorList ul li {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  color: white;
  background-color: #231F20;
}
#colorList #colorListA li:nth-child(1) {
  background-color: #BFB0FF;
}
#colorList #colorListA li:nth-child(2) {
  background-color: #5D0CEA;
}
#colorList #colorListA li:nth-child(3) {
  background-color: #3D109D;
}
